<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TP Formulaire</title>
    <style>
      div {
        margin: 8px 0;
      }

      div:not(:first-of-type) label {
        display: inline-block;
        width: 180px;
      }
    </style>
  </head>
  <body></body>
</html>
